body {
  background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
  min-height: 100vh;
}
.row {
  min-height: 60vh;
}
.col-md-5 {
  background-color: white;
}
h1 {
  font-weight: bolder !important;
  margin: 20px !important;
  text-align: center;
  color: rgba(59, 54, 54, 0.836);
}
input {
  display: inline !important;
  border: 2px solid rgba(99, 92, 92, 0.671) !important;
  width: 75% !important
}
button {
  margin-left: 10px !important;
  margin-bottom: 4px !important;
}
li {
  list-style: none;
  font-size: 20px;
  width: 70%;
  display: inline;
  margin: 10px;
}
i {
  color: red;
  margin: 10px;
  cursor: pointer;
}
